@model WebBanDTDD.Models.Product
@{
    ViewBag.Title = "Product";
}
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    string price = string.Format(info, "{0:c}", Model.Price);
    string PromotionPrice = string.Format(info, "{0:c}", Model.PromotionPrice);
}
<section class="sec_single mb-5">
    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li>@Html.ActionLink("home", "Index", "Home")</li>
                        <li><a href="@Url.Action("Index", "Shop", new {cate=Model.CateID})"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.ProductCategory.Name</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Name</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="single_product_pics">
                    <div class="row">
                        <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                            <div class="single_product_thumbnails">
                                <ul>
                                    @{

                                        try
                                        {
                                            var Listimage = Model.Listimage.Split(',');

                                            if (!string.IsNullOrEmpty(Model.Listimage))
                                            {


                                                if (@Listimage.Count() > 0)
                                                {
                                                    foreach (var item in Listimage)
                                                    {
                                                        <li><img src="@item" alt="" data-image="@item"></li>
                                                    }
                                                }
                                            }
                                        }
                                        catch (Exception ex)
                                        {

                                        }

                                    }



                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 image_col order-lg-2 order-1">
                            <div class="single_product_image">
                                <div class="single_product_image_background" style="background-image:url(@Model.Image)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>@Model.Name</h2>
                        <p>@Model.Description</p>
                    </div>
                    <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                        <span class="ti-truck"></span><span>miễn phí vận chuyển</span>
                    </div>
                    @if (Model.PromotionPrice > 0)
                    {
                        <div class="original_price">@price</div>
                        <div class="product_price">@PromotionPrice</div>
                    }
                    else
                    {
                        <div class="product_price pt-2">@price</div>
                    }


                    <ul class="star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                    </ul>
                    <div class="product_color">
                        <span>Màu sắc:</span>
                        <ul>
                            <li style="background: pink"></li>
                            <li style="background: gray"></li>
                            <li style="background: purple"></li>
                        </ul>
                    </div>
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        @*<span>Số lượng:</span>
                            <div class="quantity_selector">
                                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <span id="quantity_value">1</span>
                                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>*@
                        <div class="red_button add_to_cart_button" style="visibility: visible; background-color: #FE7C7F;opacity:1"><a href="@Url.Action("addShoppingcart", "ShoppingCart",new {id=Model.ProductID})">thêm vào giỏ hàng</a></div>
                        @*<div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>*@
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Tabs -->

    <div class="tabs_section_container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Mô tả sản phẩm</span></li>
                            <li class="tab" data-active-tab="tab_2"><span>Thông tin thêm</span></li>
                            <li class="tab" data-active-tab="tab_3"><span>Đánh giá (2)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <input type="text" hidden id="tempDescription" name="tempDescription" value="@Model.Detail" />
                        <div class="row" id="Description">
                            @Model.Detail
                        </div>
                    </div>

                    <!-- Tab Additional Info -->

                    <div id="tab_2" class="tab_container">
                        <div class="row">
                            <div class="col additional_info_col">
                                <div class="tab_title additional_info_title">
                                    <h4>Thông tin thêm</h4>
                                </div>
                                <p>Màu sắc:<span>Pink, Space Gray, Purple</span></p>
                                <p>Dung lượng:<span>64GB, 256GB</span></p>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

                            <div class="col-lg-6 reviews_col">
                                <div class="tab_title reviews_title">
                                    <h4>Đánh giá (2)</h4>
                                </div>

                                <!-- User Review -->

                                <div class="user_review_container d-flex flex-column flex-sm-row">
                                    <div class="user">
                                        <div class="user_pic"></div>
                                        <div class="user_rating">
                                            <ul class="star_rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="review">
                                        <div class="review_date">02 Tháng 3 2023</div>
                                        <div class="user_name">Cường Tỏi</div>
                                        <p>Dùng chơi game cực mượt, màu sắc quá ok, pin trâu.</p>
                                    </div>
                                </div>

                                <!-- User Review -->

                                <div class="user_review_container d-flex flex-column flex-sm-row">
                                    <div class="user">
                                        <div class="user_pic"></div>
                                        <div class="user_rating">
                                            <ul class="star_rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="review">
                                        <div class="review_date">25 Tháng 1 2023</div>
                                        <div class="user_name">Lâm Chấn Huy</div>
                                        <p>Xem phim cực đẹp nhỏ gọn, dễ dàng đem đi làm việc.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Add Review -->

                            <div class="col-lg-6 add_review_col">

                                <div class="add_review">
                                    <form id="review_form" action="post">
                                        <div>
                                            <h1>Thêm Đánh Giá</h1>
                                            <input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Tên" required="required" data-error="Name is required.">
                                            <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
                                        </div>
                                        <div>
                                            <h1>Xếp hạng:</h1>
                                            <ul class="user_star_rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <textarea id="review_message" class="input_review" name="message" placeholder="Đánh giá của bạn" rows="4" required data-error="Please, leave us a review."></textarea>
                                        </div>
                                        <div class="text-left text-sm-right">
                                            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">Gửi</button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Benefit -->

    <div class="benefit">
        <div class="container">
            <div class="row benefit_row">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>miễn phí vận chuyển</h6>
                            <p>Freeship trên toàn quốc</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>trả góp 0%</h6>
                            <p>Nhanh chóng trong 15 phút chỉ cần CCCD, bằng lái xe</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>15 ngày đổi trả</h6>
                            <p>Đổi ngay máy mới nếu lỗi từ nhà sản xuất</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>mở cửa tất cả các ngày trong tuần</h6>
                            <p>8AM - 09PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(window).on('load', function () {
        var temp = $("#tempDescription").val();
        $("#Description").html(temp);

    })
</script>